@font-face {
  font-family: HK-Grotesk;
  src: url(./font/HKGrotesk-Regular.woff);
}

@font-face {
  font-family: HK-Grotesk-bold;
  src: url(./font/HKGrotesk-Bold.woff);
}






html {
  font-size: 0.90vw;
}

body {
  margin: 0 10rem;
  padding: 0;
  background-color: #141414;
  font-family: input-mono,monospace;
font-weight: 300;
font-style: normal;
}


.note{
  font-size: 1rem;
  margin-top: 4rem;
  width: 18rem;
}

#lane {
  margin-top: 0;
  margin-bottom: 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: flex-start;
}

#sticky {
  /* margin-top: auto;
  margin-bottom: auto; */
  position: sticky;
    top: 0rem;
  margin-left: 63rem;
  width: 35rem;
  height: 100vh;
  display: flex;
  align-items: center;
}


.left{
  color: #e5e5e5;
  margin-left: auto;
  margin-right: 5rem;
  width: 32rem;
  line-height:1.4;
  font-family: HK-Grotesk;
  font-size: 1rem;
}


.par {
  width: 32rem;
  margin-left: 13rem;
  margin-bottom: 60vh;
  line-height:1.4;
  font-family: HK-Grotesk;
  font-size: 1.3rem;
  color:#e5e5e5;
}

#start {
  margin-top: -35.5rem;
}




.span-words, .span-words-add {
  display: inline;
  text-transform: uppercase;
  margin-right: 0.9rem;
  font-family: input-mono,monospace;
font-weight: 300;
font-style: normal;
  font-size: 1rem;
  line-height: 1.5;
}


#title {
  width: 50vw;
  height: 10vh;
  z-index: 0;
}

.randomTitles{
  display: flex;
  flex-direction: row;
  gap:2rem;
  margin-top: 4rem;
}


.random{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  height: 70vh;
  justify-content: flex-start;
}

.shuffle{
  padding: 0.8rem 4rem;
  font-family: input-mono,monospace;
font-weight: 300;
font-style: normal;
  background-color: #141414;
  border: 0.1rem white solid;
  color: #e5e5e5;
  font-size: 3 rem;
}

#titleCards {
  padding: 1.6rem 2rem 1.6rem 2.2rem;
  opacity: 1;
  background-color: white;
  font-family: input-mono,monospace;
font-weight: 300;
font-style: normal;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  justify-content: space-between;
  color: #141414;
  min-width: 22.56rem;
  min-height: 10rem;
}

#titleCards .tooltipDate {
  font-size: 0.8rem;
  text-transform: uppercase;
}

.tooltipDate {
  font-size: 0.8rem;
  text-transform: uppercase;
}

#titleCards .tooltipTitle {
  padding-right: 3rem;

}

#titleCards a, a:visited {
  color: #141414;

}


.titleCard p {
  color:#141414;
}

.par .wordsTitle {
  padding: 0.1rem 0.5rem  ;
  margin: 0 0.5rem 0 0;
}

.wordsTitle, .wordsTitle-add {
  background-color: white;
  text-transform: uppercase;
  display: inline-block;
  padding: 0.3rem 1rem;
  font-size: 1rem; 
  font-family: input-mono,monospace;
font-weight: 300;
font-style: normal;
  margin-bottom: 0.6rem;
  color: #141414;
  margin-right: 0.6rem;
  margin-top: 1.4rem;
}

/* .content {
  display: flex;
  flex-direction: column;
  align-items: center
} */


#background {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 400vh; 
  position: fixed;
  top: 0;
  z-index: 1;
  pointer-events: none;
}


h2 {
  color: #141414;
  font-family: HK-Grotesk;
  font-weight: 700;
  font-size: 1rem;
  text-align: left;
}

.card {
  color: #141414;
  background-color: #ffffff;
  width: 325px;
  height: auto;
  margin-bottom: 164px;
  padding: 24px;
  width: 20vw;
  z-index: 4;
}

/* p {
  font-size: 1.6rem;
  font-family: "Montserrat";
  font-weight: 400;
  line-height: 1.4;
  z-index: 10;
} */

#introduction,
#conclusions {
  width: 100vw;
  height: 100vh;
}

.titleBlock {
  z-index: 0;
  position: absolute;
  top: 30%;
  left: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0px;
  transform: translateX(-50%) translateY(-30%);
  font-family: input-mono,monospace;
font-weight: 300;
font-style: normal;
  text-align: center;
  width: 50%;
}

h1 {
  position: relative;
  color: #e5e5e5;
  font-weight: 600;
  font-size: 60px;
  padding: 0;
  margin-bottom: 12px;
  line-height: 1;
}

span {
  font-weight: 600;
  padding: 0;
  margin: 0;
  color: #BBB;
}

h3 {
  font-weight: 200;
  font-family: HK-Grotesk;
  font-size: 0.8rem;
  padding: 0;
  margin: 0;
  line-height: 1.4;
  color: #e5e5e5;
  letter-spacing: 2px;
}

.lead{
  width: 20rem;
  font-family: HK-Grotesk;
  word-spacing: 2%;
  margin-top: -1.6rem;
  z-index: 1000;
  font-size: 0.9rem;
}

.last-par {
  margin-bottom: 36vh;
}

html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
  width: 100vw;
  height: 100vh;
}





.box-text{
  color: #e5e5e5;
  font-size: 1rem;; 
  font-family: input-mono,monospace;
font-weight: 300;
font-style: normal;
  margin-bottom: 2rem;
  line-height: 1.6;
}


.keywords{
  width: 38rem;
    margin-left: auto;
    margin-right: 10rem;

}


.keywords .wordsTitle{
  margin-top:0;
}
.left {
  color: #e5e5e5;
  margin-left: auto;
  margin-right: 5rem;
  width: 32rem;
  line-height:1.4;
  font-family: HK-Grotesk;
  font-size: 1.3rem;
}


.step{
  display: flex!important;
  flex-direction: row;
  align-items: flex-start;
}

/* p{
  color: #e5e5e5;
  font-size: 1rem; 
  font-family: input-mono,monospace;
font-weight: 300;
font-style: normal;
} */

.tooltip{
  padding: 24px 32px 24px 16px;
opacity: 1;
position: absolute;
background-color: #e5e5e5;
font-family: input-mono,monospace;
font-weight: 300;
font-style: normal;
display: flex;
flex-direction: column;
justify-content: space-between;
color: #141414;
height: 100px;
width: 300px;

}

.tooltip a {
  color: #141414
}

.tooltip a:visited {
  color: #141414
}

.show-more{
  color: #e5e5e5;
    align-items: baseline;
    font-size: 1rem;
    font-family: input-mono,monospace;
font-weight: 300;
font-style: normal;
    font-weight: 200;
    display: initial;
    padding-left: 10px;
    cursor: pointer;
}


.tooltipDate{
display: flex;
flex-direction: row-reverse;
justify-content: space-between;

}

.closure{
  margin-top: 0rem;
  margin-bottom: 16rem;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
  font-family: HK-Grotesk;
  color: #e5e5e5;
  line-height: 1.6;
}

.bold{
  font-family: HK-Grotesk-bold;
  margin-top: 2rem;
  text-transform: uppercase;
}